@model ThesisDB.Models.Thesis

@{
    ViewData["Title"] = "Neues Thema erstellen";
}

<h1>Neues Thema erstellen</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="control-label fw-bold"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label fw-bold"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Status" class="control-label fw-bold"></label>
                    <select asp-for="Status" class="form-select" asp-items="Html.GetEnumSelectList<ThesisDB.Models.Thesis.ThesisStatus>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Type" class="control-label fw-bold"></label>
                    <select asp-for="Type" class="form-select" asp-items="Html.GetEnumSelectList<ThesisDB.Models.Thesis.ThesisType>()"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="StartDate" class="control-label fw-bold"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="EndDate" class="control-label fw-bold"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="ProgrammeId" class="control-label fw-bold">Studiengang</label>
                    <select asp-for="ProgrammeId" class ="form-select" asp-items="ViewBag.ProgrammeId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="StudentId" class="control-label fw-bold">Student/-in</label>
                    <select asp-for="StudentId" class ="form-select" asp-items="ViewBag.StudentId"></select>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="SupervisorId" class="control-label fw-bold">Betreuer/-in</label>
                    <select asp-for="SupervisorId" class ="form-select" asp-items="ViewBag.SupervisorId"></select>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" value="Neu anlegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Zurück zur Liste</a>
</div>
